{
  "extends": "eslint-config-umi" ,
  "rules" : {
    "no-extend-native" : 0 ,
    "no-unused-vars" : 0 ,
    "eqeqeq" : 0 ,
    "no-throw-literal" : 0 ,
    "no-use-before-define" : 0 ,
    "no-redeclare" : 0 ,
    "no-self-compare" : 0 ,
    "no-unused-expressions" : 0 ,
    "no-cond-assign" : 0 ,
    "default-case" : 0 ,
    "no-new-func" : 0 ,
    "no-fallthrough" : 0 ,
    "no-loop-func" : 0 ,
    "no-useless-concat" : 0 ,
    "array-callback-return" : 0 ,
    "no-new-wrappers" : 0
  }
}